.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #d2c5d2;
}  

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    line-height: 1.5;
    height: 100%;
    position: relative;
  }
  
  .navbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #d000bb;
    transition: width 0.3s ease;
  }
  
  .navbar a:hover::after {
    width: 100%;
  }
